<!doctype html>
<head>
	<h1>WELCOME TO OUR SQUIRREL TRACKER <h2>
</head>

<body style="background-color:powderblue;">
	<ul>
		<li><a href = 'sightings/add/'>Click here to add a new squirrel </a></li>
                <li><a href = 'sightings/'>Click here to see list of  squirrels </a></li>
		<li><a href = 'sightings/stats/'>Click here to stats related to the squirrel dataset </a></li>
		<li><a href = 'map/'>Click here to map view </a></li> 
        </ul>
	<p align="center"> {% load static %} 
	<img src="{% static "tracker_app/images/squirrel.jpg" %}"> </p>
</body>
	
